.categories_container {
	width: 100%;
	gap: 1rem;
}

.category_card {
	width: 100%;
	gap: 1rem;
	padding: 2rem 0;
	background-color: white;
}

.category_amount {
	font-family: 'Inter-Bold';
}

.category_amount__housing {
	color: var(--color-housing);
}

.category_amount__groceries {
	color: var(--color-groceries);
}

.category_amount__transportation {
	color: var(--color-transportation);
}

.category_amount__clothes {
	color: var(--color-clothes);
}

.category_amount__other {
	color: var(--color-other);
}

.category_title {
	color: rgb(146, 146, 146);
}

@media(max-width: 1024px) {
	.categories_container {
		flex-direction: row;
	}
}

