.xxl {
	font-size: 40px;
}

.xl {
	font-size: 30px;
}

.l {
	font-size: 20px;
}

.m {
	font-size: 16px;
}

.s {
	font-size: 14px;
}

@media (max-width: 768px) {
	.xxl {
		font-size: 30px;
	}

	.xl {
		font-size: 25px;
	}

	.l {
		font-size: 17px;
	}

	.m {
		font-size: 14px;
	}

	.s, * {
		font-size: 12px;
	}

}

@media (max-width: 620px) {
	.xxl {
		font-size: 22px;
	}

	.xl {
		font-size: 18px;
	}

	.l {
		font-size: 15px;
	}

	.m {
		font-size: 12px;
	}

	.s, * {
		font-size: 10px;
	}

}

@media (max-width: 425px) {
	.xxl {
		font-size: 20px;
	}

	.xl {
		font-size: 15px;
	}

	.m {
		font-size: 10px;
	}
}