:root {
	--color-primary: #7B4BE3;
	--color-background: #EEEAF6;
	--color-stroke: #E3E3E3;
	--color-delete: #FF0202;

	/* categories */
	--color-housing: #00D63C;
	--color-groceries: #F946C7;
	--color-transportation: #0500F9;
	--color-clothes: #FD8900;
	--color-other: #00C9F6;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Inter-Regular';
	font-size: 14px;
}

button {
	padding: 0.5rem 1rem;
	border: none;
	color: white;
	font-family: 'Inter-SemiBold';
	cursor: pointer;
}

input,
select {
	border: solid 1px var(--color-stroke);
}

input[type='date'],
select {
	cursor: pointer;
}

/* FLEX */
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex_column {
	flex-direction: column;
}

.flex_row {
	flex-direction: row;
}

/* GRID */
.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	justify-content: center;
	align-items: center;
	height: 100%;
}

