.total_expenses_container {
	width: 220px;
	height: 220px;
	border: solid 2px var(--color-primary);
	border-radius: 50%;
	gap: 1rem;
}

.total_expenses_header {
	margin-top: -20px;
	font-family: 'Inter-SemiBold';
}

.total_expenses_amount {
	font-family: 'Inter-Bold';
	color: var(--color-primary);
}