.total_expenses_container {
	width: 220px;
	height: 220px;
	border: solid 2px var(--color-primary);
	border-radius: 50%;
	gap: 1rem;
}

.total_expenses_header {
	margin-top: -20px;
	font-family: 'Inter-SemiBold';
}

.total_expenses_amount {
	font-family: 'Inter-Bold';
	color: var(--color-primary);
}

@media (max-width: 768px) {
	.total_expenses_container {
		width: 180px;
		height: 180px;
	}
}

@media (max-width: 620px) {
	.total_expenses_container {
		width: fit-content;
		height: fit-content;
		border: none;
		flex-direction: row;
	}

	.total_expenses_header {
		margin-top: 0;
	}
}