body {
	background-color: var(--color-background);
}

.app_container {
	width: 100vw;
}

.navbar {
	width: 100%;
	height: 5rem;
	justify-content: flex-start;
	padding: 0 3rem;
	background-color: var(--color-primary);
}

.nav_header {
	color: white;
	font-family: 'Inter-Bold';
}

.main_container {
	width: 100%;
	padding: 2rem;
	justify-content: space-between;
	align-items: flex-start;
}

.gap_header {
	height: 30px;
	background-color: grey;
}

.category_container {
	height: 100%;
	width: 20%;
	align-items: flex-start;
}

.form_and_list_section {
	width: 70%;
}

.form_and_list_container {
	width: 100%;
	grid-template-columns: 1fr 2fr;
	background-color: white;
}

.expense_list_container {
	grid-column: 1 / span 2;
}

.expense_form_container,
.expense_list_container {
	align-items: flex-start;
}
